/* global */
body {
  margin: 0;
}

/* layout */
.my-layout {
  min-height: 100vh;
}

.header {
  background-color: white;
  height: 100px;
  padding: 0;
}

.creator-name {
  color: #202124;
}

.navbar {
  align-content: center;
  margin: auto;
  height: 100%;
  max-width: 80%;
}

.content-container {
  min-height: calc(100vh - 100px);
  padding: 60px 10%;
  width: 100%;
}

/* home */
.home-search-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.home-search-form input {
  font-size: 16px;
  color: #202124;
  border: 1px solid #d2d2d3;
  padding: 0.375rem 0.75rem;
  line-height: 46px;
  flex: 1 1 auto;
  border-radius: 8px 0 0 8px;
}

.home-search-form input:focus {
  outline: none;
  border-color: #4285f4;
}

.home-search-form button {
  border: 1px solid #d2d2d3;
  padding: 0px 20px;
  background: #d2d2d3;
  transition: all 0.2s linear;
  border-radius: 0 8px 8px 0;
}

.home-search-form button:hover {
  background: #4285f4;
  color: #fff;
  border-color: #4285f4;
}

.book-list-header-left {
  font-size: 16px;
  font-weight: 400;
  color: #202124;
  font-family: "Open Sans", sans-serif;
}

.book-list-header-right {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #202124;
  font-family: "Open Sans", sans-serif;
}

.book-card-img-wrapper {
  width: 100%;
  padding-top: 120%;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.book-card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%); /* 图片居中 */
  object-fit: contain; /* 确保图片按比例缩放，完整显示 */
}

/* profile */
.avatar-wrapper {
  width: 100%;
  text-align: center;
}

/* cart */
.cart-header-title {
  font-size: 18px;
  font-weight: 500;
}

.cart-item {
  width: 100%;
  transition: background-color 0.3s; /* 鼠标悬停时的过渡效果 */
}

.cart-item:hover {
  background-color: #fafafa; /* 鼠标悬停时背景变浅 */
}

.cart-item-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cart-item-title a {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  transition: color 0.3s; /* 添加颜色过渡效果 */
}

.cart-item-title a:hover {
  color: #4285f4; /* 鼠标悬停时改变颜色 */
}

.cart-item-author {
  margin: 4px 0;
  font-size: 14px;
  color: #888;
}

.cart-item-price {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.cart-item-total {
  font-size: 18px;
  font-weight: 600;
}

/* order */
.order-header-title {
  font-size: 18px;
  font-weight: 500;
}

.order-item {
  width: 100%;
  transition: background-color 0.3s;
}

.order-item:hover {
  background-color: #fafafa;
}

.order-item-receiver {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.order-item-tel {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.order-item-address {
  margin: 4px 0;
  font-size: 14px;
  color: #888;
}

.order-item-price {
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}

.order-item-date {
  font-size: 14px;
  color: #888;
  text-align: right;
}

/* book */
.book-info-price {
  font-size: 24px;
  font-weight: 600;
  color: #4285f4;
  margin-bottom: 15px;
  margin-top: 8px;
}

.book-info-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}

.book-info-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #202124;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* admin-book-list */
.admin-book-list-header-title {
  font-size: 18px;
  font-weight: 500;
}

.admin-book-list-item {
  width: 100%;
  transition: background-color 0.3s; /* 鼠标悬停时的过渡效果 */
}

.admin-book-list-item:hover {
  background-color: #fafafa; /* 鼠标悬停时背景变浅 */
}

.admin-book-list-item-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.admin-book-list-item-title a {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  transition: color 0.3s; /* 添加颜色过渡效果 */
}

.admin-book-list-item-title a:hover {
  color: #4285f4; /* 鼠标悬停时改变颜色 */
}

.admin-book-list-item-author {
  margin: 4px 0;
  font-size: 14px;
  color: #888;
}

.admin-book-list-item-price {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.admin-book-list-item-stock {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.admin-book-list-item-total {
  font-size: 18px;
  font-weight: 600;
}