/* global */
body {
  margin: 0;
}

/* layout */
.my-layout {
  min-height: 100vh;
}

/* header */
.header {
  background-color: white;
  height: 100px;
  padding: 0;
}

.navbar {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 90%;
  padding: 0 50px;
}

.logo {
  width: 100%;
  height: 100%;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  min-width: 340px;
  border-bottom: none;
}

/* content */
.content-container {
  min-height: calc(100vh - 90px);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  width: 100%;
}

/* user profile */
.avatar-wrapper {
  width: 100%;
  text-align: center;
}

/* cart */
.cart-header-title {
  font-size: 18px;
  font-weight: 500;
}

.cart-item {
  width: 100%;
  transition: background-color 0.3s; /* 鼠标悬停时的过渡效果 */
}

.cart-item:hover {
  background-color: #fafafa; /* 鼠标悬停时背景变浅 */
}

.cart-item-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cart-item-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.cart-item-author {
  margin: 4px 0;
  font-size: 14px;
  color: #888;
}

.cart-item-price {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.cart-item-total {
  font-size: 18px;
  font-weight: 600;
}

/* order */
.order-header-title {
  font-size: 18px;
  font-weight: 500;
}

.order-item {
  width: 100%;
  transition: background-color 0.3s; /* 鼠标悬停时的过渡效果 */
}

.order-item:hover {
  background-color: #fafafa; /* 鼠标悬停时背景变浅 */
}

/* 订单接收人信息 */
.order-item-receiver {
  margin: 0;
  font-size: 16px;
  font-weight: 600; /* 加粗接收人名称 */
  color: #333;
}

.order-item-tel {
  margin: 4px 0;
  font-size: 14px;
  color: #555; /* 电话信息颜色稍浅 */
}

.order-item-address {
  margin: 4px 0;
  font-size: 14px;
  color: #888; /* 地址信息颜色更浅 */
}

/* 总价样式 */
.order-item-price {
  font-size: 16px;
  font-weight: 600; 
  text-align: right; 
}

/* 日期样式 */
.order-item-date {
  font-size: 14px;
  color: #888; 
  text-align: right; 
}
